.furniture-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.category-card {
  flex: 1; /* Kortelės automatiškai prisitaikys */
  width: 32%;
  text-align: center;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 250px; /* Galima koreguoti */
  object-fit: cover; /* Užtikrina, kad nuotrauka išlaikytų proporcijas */
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.category-card img:hover {
  transform: scale(1.05);
}

.image-caption {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
