.footer {
  background-color:transparent;
  padding: 10px 20px;
  text-align: center;
  border-top: transparent;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-box {
  display: inline-block;
  cursor: pointer;
}

.contact-link img,
.contact-link button {
  width: 35px;
  height: 30px;
  vertical-align: middle;
}

.contact-text {
  display: inline-block;
  margin-left: 3px;
  font-size: 14px;
  vertical-align: middle;
}
